/*============================================================= 
GYST APP
DESCRIPTION:
=============================================================*/

/*=================== GLOBAL ===================*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
  min-height: 100vh;
}
ul{
  list-style: none;
}

/*=================== SIGN IN ===================*/
.sign-in{  
  margin: 0 auto;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
  max-width: 500px;
  padding: 50px;
  border-radius: 50px;
}
.sign-in__logo{
  text-align:center;
}
.sign-in h3 {
  text-align: center;
  margin: 25px;
}
#sign-in-form * {
  margin: 10px 0;
  font-size: 1.25em
}
#sign-in-form label {
  display: block;
}
#sign-in-form input, #sign-in-form button{
  width: 100%;
  height: 50px;
}
/*=================== SIGN UP ===================*/
.sign-up{  
  margin: 0 auto;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
  max-width: 500px;
  padding: 50px;
  border-radius: 50px;
}
.sign-up__logo{
  text-align:center;
}
.sign-up h3 {
  text-align: center;
  margin: 25px;
}
#sign-up-form * {
  margin: 10px 0;
  font-size: 1.25em
}
#sign-up-form label {
  display: block;
}
#sign-up-form input, #sign-up-form button{
  width: 100%;
  height: 50px;
}
/*=================== HEADER ===================*/
.header{
  z-index: 99;
  position: relative;
  width: 100vw;
  height: 50px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  box-shadow: rgb(70, 70, 70) 1px 1px 10px;
}
.header__left, .header__right{
  display: flex;
  justify-content: space-between;
}
.header__left .header__item:last-child,.header__right .header__item:last-child{
  margin-left: 15px;
}
.header__item{
  display: flex;
  align-items: center;
  justify-self: center;
  padding: 5px;
}
.header__item:hover{
  background-color: whitesmoke;
  cursor: pointer;
  border-radius: 20%
}
.panel {
  cursor:  default;
  padding: 10px;
  position: absolute;
  top: 50px;
  right: 10px;
  background-color: white;
  box-shadow: rgb(70, 70, 70) 1px 1px 10px;
}
.sign-out{
  cursor: pointer;
}

/*=================== CONTENT ===================*/
.content{
  display: flex;
}

/*=================== SIDEBAR ===================*/
.sidebar{
  z-index: 98;
  background-color: white;
  width: 400px;
  padding: 25px;
  box-shadow: rgb(70, 70, 70) 1px 1px 10px;
  transition: width 10ms;
}
.sidebar-hidden{
  width: 0px;
  transition: width 10ms;
}
.sidebar__generic, .sidebar__projects{
  display: flex;
  flex-direction: column;
}
.sidebar__separator{
  margin: 25px 0;
  border: solid rgb(218, 218, 218) 1px;
}
.sidebar__item{
  display: flex;
  align-items: center;
  padding: 5px;
}
.sidebar__item:hover{
  background-color: whitesmoke;
  cursor: pointer;
  border-radius: 10px;
}
.sidebar__item__inner{
  width: 100%;
  display: grid;
  grid-template-columns: 20px 5fr 20px;
}
.sidebar__label{
  margin-left: 15px;
}
.active{
  background-color: whitesmoke;
  border-radius: 10px;
}
.sidebar__add{
  margin-top: 15px;
}
.sidebar__add-form input{
  width: 100%;
}
.sidebar__add-form button{
  width: 50%;
}

/*=================== EDITOR ===================*/
.editor{
  background-color: rgb(245, 245, 245);
  width: 100%;
  display: flex;
  justify-content: center;
  min-height: calc(100vh - 50px);
}
.editor__display{
  background-color: white;
  width: 100%;
  max-width: 1000px;
  position: relative;
  padding: 25px 50px;
}
.editor__header{
  height: 50px;
  font-size: 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}
.editor__list-view{
  
}
.editor__list-item{
  height: 50px;
  align-items: center;
  display: grid;
  grid-template-columns: 48px 1fr 48px;
  border-bottom: solid grey 1px;
}
.editor__list-item:last-child{
  border: none;
}
.task-add{
  border-bottom:none;
}
.editor__list-item span{
  margin-left: 10px;
}
.editor__list-item__date{
  font-size: .75em;
}
.editor__list-item__archived,.editor__list-item__delete:hover{
  cursor: pointer;
}
.archived{
  color: gray;
}
/* Add Tasks */
.add-task{
  grid-column: 1/3 ;
}
.add-task:hover{
  cursor: pointer;
}
#add-task-form{
  display: flex;
}
#add-task-form input:first-child{
  width: 100%;
}
#add-task-form button{
  width: 60px;
  height: 25px;
}
#edit-project-btn:hover{
  cursor: pointer;
}
.edit-task{
  position: absolute;
  margin: 0 auto;
  background-color: white;
  padding: 50px;
  box-shadow: rgb(70, 70, 70) 1px 1px 10px;
}
.edit-task input{
  display: block;
  width: 100%;
}
.edit-task button{
  width: 50%;
}
.edit-task-close{
  position: absolute;
  right: 10px;
  top: 0;
  cursor: pointer;
}
